aluraflix.iml
docker-compose-test.yml
docker-compose.yml
Dockerfile
Dockerfile.test
.dockerignore
documentation-swagger.png
.env
.env-sample
.git
.gitignore
HELP.md
.idea
.mvn
mvnw
mvnw.cmd
README.md
target
